body{
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
.h1-title {
    background: linear-gradient(to right, #3d8b36, #fffefd);
    -webkit-background-clip: text; 
    color: transparent; 
    font-size: 50px; 
    margin: 0; 
}
#div-clock {
    color: white;
    font-weight: bold;
    font-size: 18px; /* Ajusta el tamaño según tus preferencias */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    padding: 10px 20px; /* Ajusta el espaciado según tus preferencias */
}
header h1{
    color: white;
    font-size: 100px;
    letter-spacing: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    header h1:hover {
        background: linear-gradient(to right, white, #3d8b36);
        -webkit-background-clip: text; 
        color: transparent; 
    }

.ul-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    cursor: pointer;
    letter-spacing: 2px;
    background: linear-gradient(to right, #8ba589, #fffefd);
    -webkit-background-clip: text; 
    color: transparent; 
}
a:hover {
    color: green;
}
#selected{
    
    border-bottom: 3px solid white;
}
.container-principal{
    width: auto;
    background: 
    linear-gradient(to right, #3d8b3618, #eef3ed), 
    linear-gradient(to left,  #3d8b361f, white);
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#imgLogo {
    width: 400px;
    height: 300px;
    
}

.content-left {
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.about-me-text {
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: 1.5;
    max-width: 600px;
    margin-top: 20px;
    color: #333;
}
.content-left p {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 40px;
}
.content-left h1 {
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Arial Black', sans-serif;
    border-bottom: 2px solid #333;
    width: 40%;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 20px;
}

.content-right {
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-top: 50px;  
}


.progress-bar{
    width: 60%;
    height: auto;
    border: 2px black solid;
    background-color: white;
    margin-left: 15px;
}
.progress {
    height: 20px; 
    background: linear-gradient(to right, #66a761, #3d8b366b);
}


.content-right-progress {
    display: flex;
    flex-direction: row;
    padding: 8px;
    width: auto;
    gap: 10px;
}
.content-right-progress p {
    margin-left: 15px;
}
.content-right-progress-right{

width: 50%;
height: 400px;
}
.content-right-progress-left{

display: flex;
flex-direction: column;

width: 50%;
height: 400px;
}

.content-right h1 {
    font-size: 50px;
    letter-spacing: 7px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    width: 40%;
    text-align: center;
    margin-left: 200px;

}

footer{
    color: white;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
    
}
footer b {
    font-size: 25px;
    letter-spacing: 2px;
}